{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Notes" %}{% endblock %}

{% block content %}

    {% block messages %}
        {% if messages %}
            <div>
                <ul>
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

    <div class="text-center">
        <form action="{% url 'accounts_notes' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary">{% trans "Create notes" %}</button>
        </form>
    </div>
    <p></p>
    <p></p>
    {% if Notes.exists %}
        <div class="text-center">
            <form action="{% url 'accounts_notes_delete' %}" method="post">
                {% csrf_token %}
                {{ form_note_delete.as_p }}
                <button type="submit" class="btn btn-outline-primary">{% trans "Delete notes" %}</button>
            </form>
        </div>
        <p></p>
        <p></p>
        <ul>
            {% for note in Notes %}
                <li>
                    <div>
                        <textarea readonly cols="40" rows="10" id="notes_id">{{ note.notes }}</textarea>
                        <label for="notes_id">{{ note.id }}</label>
                        <p></p>
                        <p></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
