{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% load inlinecss %}
{% inlinecss "account/Css/Email-Styles.css" %}

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{% trans "Registration confirmation email" %}</title>
    </head>

    <body itemscope itemtype="http://schema.org/EmailMessage">

    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope
                           itemtype="http://schema.org/ConfirmAction">
                        <tr>
                            <td class="content-wrap">
                                <meta itemprop="name" content={% trans "Confirm Email" %}/>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            {% trans 'Please confirm your email address by clicking the link below.' %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            {% trans 'We may need to send you critical information about our service and it is important that we have an accurate email address.' %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" itemprop="handler" itemscope
                                            itemtype="http://schema.org/HttpActionHandler">
                                            <a href="{{ activate_url }}" class="btn-primary"
                                               itemprop="url">{% trans 'Confirm email address' %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            {% trans '- Admin' %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>

                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

    </body>
    </html>

{% endinlinecss %}
