{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Upload to server" %} {% endblock %}

{% block content %}

    <div class="container-fluid">

        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    <div class="container mt-3 ">
        <form action="{% url 'superuser_upload_start' %}" method="post" class="dropzone dz" id="dropd2">
            {% csrf_token %}
            <div class="fallback">
                <input name="file" type="file" multiple/>
            </div>
        </form>
    </div>
    <p></p>
    <p>{% trans "Uploaded files:" %}</p>
    <ul>
        {% for obj in files %}
            <li>
                <a href="{{ obj.file.url }}">{{ obj.file.name }}</a>
                <small>({% trans "Uploaded at:" %} {{ obj.uploaded_at }})</small>
            </li>
        {% endfor %}
    </ul>

    <script type="text/javascript">
        Dropzone.options.dropd2 = {
            parallelUploads: 1,
            timeout: 300000,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            init: function () {
                this.on("queuecomplete", function (file, response) {
                    window.location.reload();
                });
            },
        }
    </script>
{% endblock %}