{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Yandex drive" %} {% endblock %}

{% block content %}

    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">

        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </div>

    <div class="container mt-3 ">
        <form action="{% url 'accounts_yandex_drive_upload' %}" method="post" class="dropzone dz" id="dropd">
            {% csrf_token %}
            <div class="fallback">
                <input name="file" type="file" multiple/>
            </div>
        </form>
        <p></p>
        <form>{% csrf_token %}{{ form.as_p }}</form>
    </div>
    <form action="{% url 'accounts_yandex_drive_download' %}" method="post">
        {% csrf_token %}
        {{ form_download.as_p }}
        <button type="submit" class="btn btn-outline-primary">{% trans "Download file" %}</button>
    </form>
    <p></p>
    <form action="{% url 'accounts_yandex_drive_mkdir' %}" method="post">
        {% csrf_token %}
        {{ form_mkdir.as_p }}
        <button type="submit" class="btn btn-outline-primary">{% trans "Create folder" %}</button>
    </form>
    <p></p>
    <form action="{% url 'accounts_yandex_drive_remove' %}" method="post">
        {% csrf_token %}
        {{ form_remove.as_p }}
        <button type="submit" class="btn btn-outline-primary">{% trans "Delete folder / file" %}</button>
    </form>
    <p></p>
    <form action="{% url 'accounts_yandex_drive_remove_trash' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">{% trans "Remove trash" %}</button>
    </form>
    <p></p>
    <div class="accordion" id="accordion_list">
        <div class="card">
            <div class="card-header" id="heading_list">
                <h5 class="mb-0">
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                            data-target="#collapse_list"
                            aria-expanded="true" aria-controls="collapse_list">
                        {% trans "Disk contents" %}
                    </button>
                </h5>
            </div>

            <div id="collapse_list" class="collapse" aria-labelledby="heading_list" data-parent="#accordion_list">
                <div class="card-body">
                    <div class="list-group">
                        {% for path in paths %}
                            <button type="button" onclick="copytext(this)"
                                    class="list-group-item list-group-item-action glo">{{ path }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        Dropzone.options.dropd = {
            parallelUploads: 1,
            timeout: 300000,
            //uploadMultiple: true,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            init: function () {
                this.on("queuecomplete", function (file, response) {
                    window.location.reload();
                });
                this.on("sending", function (file, xhr, formData) {
                    formData.append("path", document.getElementById('id_path').value);
                    formData.append("overwrite_choice", document.querySelector('input[name="overwrite_choice"]:checked').value);
                });
            },
        }

        function copytext(el) {
            var $tmp = $("<input>");
            $("body").append($tmp);
            $tmp.val($(el).text()).select();
            document.execCommand("copy");
            $tmp.remove();
            var contentSaved = el.innerHTML;
            el.innerHTML = '<span style="color: red;">Скопировано</span>';
            el.classList.add('disabled');
            setTimeout(function () {
                el.innerHTML = contentSaved;
                el.classList.remove('disabled');
            }, 750);
        }
    </script>

{% endblock %}