{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Yandex drive" %} {% endblock %}

{% block content %}

    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">

        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </div>

    <p></p>
    <div class="text-center">
        <p class="h3 ">{% trans 'So that you can use Yandex.Disk, integrate your Yandex social account by following the link below.' %}</p>
        <a class="h3"
           href="{% url 'socialaccount_connections' %}">{% trans 'Adding social accounts' %}</a>
    </div>

{% endblock %}