{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Yandex maps" %}{% endblock %}

{% block extra_head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ecfd7f88-716d-44ed-9d23-de5ac825a916&lang=ru_RU"
            type="text/javascript">
    </script>
{% endblock %}

{% block content %}

    {% block messages %}
        {% if messages %}
            <div>
                <ul>
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

    <div class="container" id="map" style="width: 600px; height: 400px"></div>

    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [56.552556, 84.972201],
                zoom: 12,
                controls: [

                    'zoomControl',
                    'rulerControl',
                    'routeButtonControl',
                    'trafficControl',
                    'typeSelector',
                    'fullscreenControl',

                    new ymaps.control.SearchControl({
                        options: {
                            size: 'large',
                            provider: 'yandex#search'
                        }
                    })

                ]
            });
        }
    </script>
{% endblock %}
