{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{ provider_name }} account to login to
        {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>

    <form class="signup text-center" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-outline-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
        <a id="socialaccount_login_cancelled"
           href="{% url 'socialaccount_login_cancelled' %}" class="btn btn-outline-dark" role="button"
           aria-pressed="true">{% trans 'Cancellation of registration' %}</a>
    </form>

{% endblock %}
