{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'account/Css/Custom-Account-Styles.css' %}" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css"
          integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A=="
          crossorigin="anonymous"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'upload/css/dropdz.css' %}" type="text/css"/>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

    <title>{% trans "Personal corner" %}: {% block head_title %}{% endblock %}</title>

    {% block extra_head %}
    {% endblock %}

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{% trans "Personal corner" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">{% trans "Home" %} <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts_profile' %}">{% trans "Profile" %} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts_yandex_drive' %}">{% trans "Yandex.Drive" %} <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts_yandex_maps' %}">{% trans "Yandex.Maps" %} <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts_web_screenshot' %}">{% trans "Site screenshot" %} <span
                            class="sr-only">(current)</span></a>
                </li>
                {% if user.is_superuser == True %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'superuser_upload' %}">{% trans "Upload to server" %} <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/">{% trans "Administration" %} <span
                                class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% trans "Settings" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
                        <a
                                {% if not user.has_usable_password %}
                                    class="dropdown-item" href="{% url 'account_set_password' %}"
                                {% else %}
                                    class="dropdown-item disabled" href="" aria-disabled="true"
                                {% endif %}>{% trans "Set password" %}
                        </a>
                        <a class="dropdown-item" href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a>
                        <a class="dropdown-item"
                           href="{% url 'socialaccount_connections' %}">{% trans "Social account connection" %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown_servic" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% trans "Personal" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{% url 'accounts_diary' %}">{% trans "Diary" %}</a>
                        <a class="dropdown-item" href="{% url 'accounts_calendar' %}">{% trans "Calendar" %}</a>
                        <a class="dropdown-item"
                           href="{% url 'accounts_notes' %}">{% trans "Notes" %}</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{% trans "Account: " %}{{ user.get_username }}<span
                            class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% trans "Login/Registration" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'account_login' %}">{% trans "Login" %}</a>
                        <a class="dropdown-item" href="{% url 'account_signup' %}">{% trans "Register" %}</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}

    {% block messages %}
    {% endblock %}

{% endblock %}

{% block content_extra %}
{% endblock %}

{% block extra_body %}
{% endblock %}

</body>
</html>