{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_extra %}

    {% if user.is_authenticated %}

        {% include "account/snippets/already_logged_in.html" %}
        {% block content %} {% endblock %}

    {% else %}
        <h3 class="h3" id="head_banner">{% trans "Password Reset" %}</h3>
        <p class="forgot_password_info">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" class="container-fluid text-center" id="forgot_password_form"
              action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-outline-primary " type="submit" value="{% trans 'Reset My Password' %}"/>
        </form>

        <p class="forgot_password_info">{% blocktrans %}Please contact us if you have any trouble resetting your
            password.{% endblocktrans %}</p>

    {% endif %}

{% endblock %}
