{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container-fluid">

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% block content_extra %} {% endblock %}
        {% else %}

            <h3 class="h3" id="head_banner">{% trans "Password Reset Email Sent." %}</h3>
            <p class="forgot_password_info">{% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}
                <br> {% blocktrans %}You will be redirected to <a href="/accounts/login">Sign In</a> page in 5
                    seconds.{% endblocktrans %}</p>
            <script>
                setTimeout("location.href = '{% url 'account_login' %}';", 5000);
            </script>
        {% endif %}
    </div>
{% endblock %}
