{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid">

        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}

        <h3 class="h3" id="head_banner">{% trans "Set Password" %}</h3>

        <form class="container-fluid text-center" method="POST" action="{% url 'account_set_password' %}"
              class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-outline-primary btn-lg" type="submit" name="action"
                   value="{% trans "Set Password" %}"/>
        </form>
    </div>
{% endblock %}
