{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid">

        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}

        <h3 class="h3" id="head_banner">{% trans "Change Password" %}</h3>

        <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center"
              id="change_password_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-info" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
{% endblock %}
