{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %} {% endblock %}

{% block content %}

    <div class="container-fluid">

        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}



        <h2 class="h2 text-center" id="head_banner">{% trans "Profile" %}</h2>

        {% if Profile_user.exists %}
            <ul>
                {% for account in Profile_user %}

                    {% if account.provider == "google" %}

                        <h4 class="h4" id="head_Google">{% trans "Google" %}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{% trans "Id" %}</th>
                                    <th>{% trans "First name" %}</th>
                                    <th>{% trans "Last name" %}</th>
                                    <th>{% trans "Photo" %}</th>
                                    <th>{% trans "Email" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ account.extra_data.id }}</td>
                                    <td>{{ account.extra_data.given_name }}</td>
                                    <td>{{ account.extra_data.family_name }}</td>
                                    <td><img src="{{ account.extra_data.picture }}" alt="Picture_Google"></td>
                                    <td>{{ account.extra_data.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    {% elif account.provider == "vk" %}

                        <h4 class="h4" id="head_VK">{% trans "VK" %}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{% trans "Id" %}</th>
                                    <th>{% trans "First name" %}</th>
                                    <th>{% trans "Last name" %}</th>
                                    <th>{% trans "Nickname" %}</th>
                                    <th>{% trans "Email" %}</th>
                                    <th>{% trans "Closed profile" %}</th>
                                    <th>{% trans "Short page name" %}</th>
                                    <th>{% trans "Gender" %}</th>
                                    <th>{% trans "Birth date" %}</th>
                                    <th>{% trans "City" %}</th>
                                    <th>{% trans "Country" %}</th>
                                    <th>{% trans "Timezone" %}</th>
                                    <th>{% trans "Photo medium" %}</th>
                                    <th>{% trans "Has mobile" %}</th>
                                    <th>{% trans "Home phone" %}</th>
                                    <th>{% trans "University Id" %}</th>
                                    <th>{% trans "University name" %}</th>
                                    <th>{% trans "Faculty" %}</th>
                                    <th>{% trans "Faculty name" %}</th>
                                    <th>{% trans "Graduation" %}</th>
                                    <th>{% trans "Relation" %}</th>
                                    <th>{% trans "Last seen" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ account.extra_data.id }}</td>
                                    <td>{{ account.extra_data.first_name }}</td>
                                    <td>{{ account.extra_data.last_name }}</td>
                                    <td>{{ account.extra_data.nickname }}</td>
                                    <td>{{ account.extra_data.email }}</td>
                                    {% if account.extra_data.is_closed == True %}
                                        <td>{% trans "Yes" %}</td>
                                    {% else %}
                                        <td>{% trans "No" %}</td>
                                    {% endif %}
                                    <td>{{ account.extra_data.screen_name }}</td>
                                    {% if account.extra_data.sex == 2 %}
                                        <td>{% trans "Man" %}</td>
                                    {% elif account.extra_data.sex == 1 %}
                                        <td>{% trans "Woman" %}</td>
                                    {% elif account.extra_data.sex == 0 %}
                                        <td>{% trans "Not specified" %}</td>
                                    {% endif %}
                                    <td>{{ account.extra_data.bdate }}</td>
                                    <td>{{ account.extra_data.city.title }}</td>
                                    <td>{{ account.extra_data.country.title }}</td>
                                    <td>{{ account.extra_data.timezone }}</td>
                                    <td><img src="{{ account.extra_data.photo_medium }}" alt="Picture_vk"></td>
                                    {% if account.extra_data.has_mobile == 1 %}
                                        <td>{% trans "Yes" %}</td>
                                    {% else %}
                                        <td>{% trans "No" %}</td>
                                    {% endif %}
                                    <td>{{ account.extra_data.home_phone }}</td>
                                    <td>{{ account.extra_data.university }}</td>
                                    <td>{{ account.extra_data.university_name }}</td>
                                    <td>{{ account.extra_data.faculty }}</td>
                                    <td>{{ account.extra_data.faculty_name }}</td>
                                    <td>{{ account.extra_data.graduation }}</td>
                                    {% if account.extra_data.relation == 8 %}
                                        <td>{% trans "In a civil marriage" %}</td>
                                    {% elif account.extra_data.relation == 7 %}
                                        <td>{% trans "In love" %}</td>
                                    {% elif account.extra_data.relation == 6 %}
                                        <td>{% trans "Actively looking" %}</td>
                                    {% elif account.extra_data.relation == 5 %}
                                        <td>{% trans "it's Complicated" %}</td>
                                    {% elif account.extra_data.relation == 4 %}
                                        <td>{% trans "Married" %}</td>
                                    {% elif account.extra_data.relation == 3 %}
                                        <td>{% trans "Engaged" %}</td>
                                    {% elif account.extra_data.relation == 2 %}
                                        <td>{% trans "Have a friend / Have a girlfriend" %}</td>
                                    {% elif account.extra_data.relation == 1 %}
                                        <td>{% trans "Not married" %}</td>
                                    {% elif account.extra_data.relation == 0 %}
                                        <td>{% trans "Not specified" %}</td>
                                    {% endif %}
                                    <td>
                                        <time id="time">{{ account.extra_data.last_seen.time }}</time>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    {% elif account.provider == "odnoklassniki" %}

                        <h4 class="h4" id="head_Odnoklassniki">{% trans "Odnoklassniki" %}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{% trans "Id" %}</th>
                                    <th>{% trans "First name" %}</th>
                                    <th>{% trans "Last name" %}</th>
                                    <th>{% trans "Age" %}</th>
                                    <th>{% trans "Gender" %}</th>
                                    <th>{% trans "Birth date" %}</th>
                                    <th>{% trans "City" %}</th>
                                    <th>{% trans "Country" %}</th>
                                    <th>{% trans "Photo" %}</th>
                                    <th>{% trans "Has email" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ account.extra_data.uid }}</td>
                                    <td>{{ account.extra_data.first_name }}</td>
                                    <td>{{ account.extra_data.last_name }}</td>
                                    <td>{{ account.extra_data.age }}</td>
                                    <td>{{ account.extra_data.gender }}</td>
                                    <td>{{ account.extra_data.birthday }}</td>
                                    <td>{{ account.extra_data.location.city }}</td>
                                    <td>{{ account.extra_data.location.countryName }}</td>
                                    <td><img src="{{ account.extra_data.pic190x190 }}" alt="Picture_Ok"></td>
                                    {% if account.extra_data.has_email == True %}
                                        <td>{% trans "Yes" %}</td>
                                    {% else %}
                                        <td>{% trans "No" %}</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% elif account.provider == "yandex" %}
                        <p></p>
                        <p class="h3 text-center">{% trans 'Yandex account profile information is not processed in this application.' %}</p>
                        <p></p>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p></p>
            <div class="text-center">
                <p class="h3 ">{% trans 'So that you can see your profile data, integrate your social accounts by following the link below.' %}</p>
                <a class="h3"
                   href="{% url 'socialaccount_connections' %}">{% trans 'Adding social accounts' %}</a>
            </div>
        {% endif %}


    </div>

    <script type="text/javascript">
        function convertTimestamptoTime() {

            unixTimestamp = document.getElementById('time').innerHTML;
            dateObj = new Date(unixTimestamp * 1000);
            utcString = dateObj.toUTCString();
            document.getElementById('time').innerHTML = utcString;

        }

        window.onload = convertTimestamptoTime();
    </script>

{% endblock %}