{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Diary" %}{% endblock %}

{% block content %}

    {% block messages %}
        {% if messages %}
            <div>
                <ul>
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

    <div class="text-center">
        <form action="{% url 'accounts_diary' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary">{% trans "Update diary" %}</button>
        </form>
    </div>
{% endblock %}
