{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Web screenshot" %}{% endblock %}

{% block content %}

    {% block messages %}
        {% if messages %}
            <div>
                <ul>
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

    <form action="{% url 'accounts_web_screenshot' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">{% trans "Take a screenshot of the website" %}</button>
    </form>
    <p></p>
    <img src="data:image/png;base64, {{ screenshot }}" alt="{% trans 'Your screenshot will be here'%}">
{% endblock %}
