.dz {
    border: dashed !important;
    border-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}

.glo{
 color:#00C6FF;
 text-decoration:none;
 transition: all .25s ease-in;
 border: 1px solid #4CAF50;
}

.glo:hover {
    background-color: #4CAF50;
    color: white;
}